<div>
  <h1>Articles</h1>
  <%= turbo_frame_tag "article_form" do %>
    <%= render 'form', article: @article %>
  <% end %>

  <div id="articles-list" class="">
    <div class="ml-5">
      <% @articles.each do |article| %>
        <%= render partial: "articles/article", locals: { article: article} %>
      <% end %>
    </div>
  </div>
</div>
<div>
  <%= turbo_frame_tag "show_articles" %>
</div>

